select {
	width: 350px;
    font-size: 24px;
	border: 3px solid grey;
    border-radius: 7px;
}
div {
	margin-top: 10px;
	width: 400px;
    font-size: 24px;
	border: 3px solid grey;
    border-radius: 7px;
}